body {
    margin: 0;
}

#top_level {
    margin: 0;
    height: 350px;
    width: 511px;
    background-color: #493569;
}

#logo img {
    height: 54px;
    width: 210px;
    border: 0px solid #ffffff;
    border-bottom-width: 1px;
}

#title {
    margin: 0px;
    padding: 0px;
    border: 0px solid #493569;
    border-left-width: 16px;
}

#title li {
    display: inline-block;
    width: 69px;
    font-size: 11px;
    color: #ffffff;
}

#menu {
    height: 155px;
    padding: 0;
    border: 0px solid #493569;
    border-left-width: 35px;
}

#menu li {
    margin: 10px;
    display: block;
    width: 165px;
    height: 17px;
    line-height: 70px;
    font-size: 40px;
    color: #ffffff;
}

#start a:hover {
    background: #716085;
}

#dropdown li {
    margin: 0px;
    padding: 0px;
    border: 0px solid #493569;
    border-left-width: 165px;
    font-size: 15px;
}

a {
    text-decoration: none;
    color: #ffffff;
    font-size: 16px;
}