h1 {
    text-align: center;
}

.pagination {
    text-align: center;

}

li {
    display: inline;
    width: 100%;
    font-size: 1.2em;
    padding: 5px 10px;
    width: 100px;
    text-decoration: none;
    border-left: 10px solid white;
}