h1 {
    text-align: center;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

ul#navWrapper li {
    float: left;
    list-style: none;
    border: 2px solid;
    border-radius: 25px;
}

ul#navWrapper li li {
    border: 1px blue;
    float: none;
}

ul#navWrapper ul {
    display: none;
}

ul#navWrapper li:hover ul {
    display: block;
}

li {
    display: inline;
    width: 100%;
    font-size: 1.2em;
    padding: 5px 10px;
    width: 100px;
    text-decoration: none;
    border-left: 10px solid white;
}